.container_about {
    display: flex;
    font-size: 1.5vw;
    flex-flow: row;
    height: 100%;
    justify-content: space-between;
}
img {
    border: solid 0.2em rgba(100, 100, 100,0.4);
    border-radius: 0.5em;
    display: block;
    width: auto;
    height: 30vw;
    /* align-self: flex-end; */
}