@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
.container_home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    text-transform: Uppercase;
    font-family: 'Rubik', sans-serif;
    text-shadow: 0.1vw 0.2vw 0.4vw black;
    font-size: 3vw;
    text-transform: Uppercase;
    font-family: 'Rubik', sans-serif;
}
img {
    background: transparent;
    width: 100%;
    height: auto;
}  