.container_joulupukki {
    display: flex;
    justify-content: center;
}
.container_joulupukki > img {
    position: absolute;
    width: 30vw;
    height: auto;
    border: white 4px solid;
    border-radius: 50%;
    top: 4em;
}